body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
main {
  border: 5px solid rgb(0, 255, 13);
  padding: 20px;
}
section {
  border: 1px solid red;
  margin-bottom: 20px;
}
.parent {
  border: 1px solid rgb(0, 255, 13);
  background-color: #000000;
  padding: 10px;
}
.child {
  border: 1px solid rgb(128, 0, 89);
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 5px;
}
div p {
  color: #ffffff;
}

footer {
}
@media screen and (max-width: 768px) {
  .artwork {
    flex: 0 0 48%;
  }
}

@media screen and (max-width: 480px) {
  .artwork {
    flex: 0 0 100%;
  }
}
