* {
  margin: 0;
  padding: 0;
}

html,
body {
}

header {
}

main {
}

footer {

}

footer .section {
  line-height: 1.33337;
  font-weight: 400;  
  display: flex;
  flex-wrap: nowrap;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .artwork {
    flex: 0 0 48%;
  }
}

@media screen and (max-width: 480px) {
  .artwork {
    flex: 0 0 100%;
  }
}
